{% extends 'index.html' %}
{% load static %}
{% block title %}
    <title>
        Netflix Arama
    </title>

{% endblock title %}
{% block content %}
{% include "include/_navbar.html" %}
<div class="container">
    <div class="row mt-5">
        <h3 class="text-light">Filmler</h3>
        {% for film in movies %}
      
            <div class="col-md-2 col-4 mt-1">
                <a href="{% url 'video' film.id %}">
                    <img src="{{film.resim.url}}" class="w-100" alt="">
                </a>
            </div>
        
    
        {% endfor %}
    
    </div>
</div>
{% endblock content %}